# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Виртуальное окружение (ОБЯЗАТЕЛЬНО) ---
venv/
env/
.venv/
swapi/env/

# --- Переменные окружения и секреты (КРИТИЧНО) ---
.env
.env.local

# --- База данных (если используется SQLite локально) ---
db.sqlite3
*.sqlite3

# --- Docker ---
# Иногда полезно игнорировать логи докера, если они пишутся в папку
docker-compose.override.yml

# --- Настройки редакторов кода (IDE) ---
.idea/
.vscode/
*.swp

# --- Операционная система ---
Thumbs.db
Desktop.ini
.DS_Store

venv/
.venv/
__pycache__/
.git/