# Явно фиксируем версии, совместимые с Django 4.2
# Если где-то в транзитивных зависимостях появляется django-celery-beat (он требует Django<4.2) — удалите/замените этот пакет.

django~=4.2

djangorestframework~=3.14.0

# Celery 5.3.x совместим с Django 4.2
celery==5.3.6

redis~=4.5.0
requests~=2.31.0
ujson~=5.9.0
pyyaml~=6.0.0

django-rest-passwordreset>=1.3.0
psycopg2-binary>=2.9.0
djoser~=2.1.0
setuptools>=65.5.0

djangorestframework-simplejwt>=4.3.0,<5.0.0
django-filter~=23.2

# Используем redbeat (Redis scheduler). Зафиксировал минимальную совместимую версию,
# чтобы pip не попытался подтянуть потенциально несовместимые пакеты (если возникнут проблемы — можно менять).
celery-redbeat==2.3.3
django-celery-beat!=2.4.*
